<div class="yali_mission-statement yali_homepage-section">
	<div class="yali_mission-statement__copy">
		{{ settings.mission-statement }}
	</div>
	<div class="yali_mission-statement__image" style="background:url({{ settings.mission-statement-image | img_url: 'original' }}) center center no-repeat; background-size:cover;">
		<div class="yali_height-padding"></div>
	</div>
</div>