<div class="product-single__sizes--background">
	<button class="yali_close-module"><i class="fas fa-times"></i></button>
	<!-- double check sizes -->
	<div class="product-single__sizes--wrapper">
		<h2>Size Charts</h2>
		<h2>Women's Blazers</h2>
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td></td>
					<td><p><span>All sizes</span></p></td>
				</tr>
				<tr>
					<td>
					<meta charset="utf-8">
						<p>Chest width</p>
					</td>
					<td>
					<p class="p1">108&nbsp;cm | 42 in</p>
					</td>
				</tr>
				<tr>
					<td>
						<p><span size="2" color="#000000">Shoulder width&nbsp;</span></p>
					</td>
					<td>
						<p><span size="2" color="#000000">38 cm | 14 in</span></p>
					</td>
				</tr>
				<tr>
					<td>
						<p><span size="2" color="#000000">Waist </span></p>
					</td>
					<td>
						<p>104&nbsp;cm | 40 in</p>
					</td>
				</tr>
				<tr>
					<td>
						<p><span size="2" color="#000000">Hem width </span></p>
					</td>
					<td>
					<p class="p1">113&nbsp;cm | 44 in</p>
					</td>
						</tr>
				<tr>
					<td>
						<p><span size="2" color="#000000">Front body length </span></p>
					</td>
					<td>
					<p class="p1">65 cm | 25 in</p>
					</td>
				</tr>
				<tr>
					<td>
						<p><span size="2" color="#000000">Sleeve length </span></p>
					</td>
					<td>
					<p class="p1">61 cm | 24 in</p>
					</td>
				</tr>
			</tbody>
		</table>

		<h2>Unisex Blazers</h2>
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000"></span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">S</span><span>（</span><span size="2" color="#000000">48</span><span>）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">M</span><span>（</span><span size="2" color="#000000">50</span><span>）（</span><span size="2" color="#000000">O</span><span>）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">L</span><span>（</span><span size="2" color="#000000">52</span><span>）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">XL</span><span>（</span><span size="2" color="#000000">54</span><span>）</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Chest width </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">108 cm | 42 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">112 cm | 44 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">116 cm<span class="Apple-converted-space">&nbsp; </span>| 45 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">120 cm |<span class="Apple-converted-space">&nbsp; </span>47 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Shoulder width&nbsp;</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">41 cm | 16 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">42 cm | 16 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">43 cm | 17 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">44 cm | 17 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Waist </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">104 cm | 40 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">108 cm<span class="Apple-converted-space">&nbsp; </span>| 42 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">112 cm | 44 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">116 cm | 45 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Hip width </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">104 cm | 40 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">108 cm<span class="Apple-converted-space">&nbsp; </span>| 42 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">112 cm | 44 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">116 cm | 45 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Front body length </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">71 cm | 27 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">72 cm | 28 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">73 cm | 28 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">74 cm | 29 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Sleeve length </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">62 cm | 24 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">63 cm | 24 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">64 cm | 25 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">65 cm | 25 in</span></p>
					</td>
				</tr>
			</tbody>
		</table>

		<h2>Pyjama</h2>
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Size </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">XS</span><span color="#000000">（</span><span size="2" color="#000000">46</span><span color="#000000">）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">S</span><span color="#000000">（</span><span size="2" color="#000000">48</span><span color="#000000">）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">M</span><span color="#000000">（</span><span size="2" color="#000000">50</span><span color="#000000">）（</span><span size="2" color="#000000">O</span><span color="#000000">）</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">L</span><span color="#000000">（</span><span size="2" color="#000000">52</span><span color="#000000">）</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Chest width </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">104 cm | 41 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">108 cm | 42.5 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">112 cm | 44 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">116 cm | 45.5 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Shoulder width&nbsp;</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">37 cm | 14.5 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">38 cm | 15 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">39 cm | 15 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">40 cm | 16 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Waist </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">100 cm | 39 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">104 cm | 41 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">108 cm | 42 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">112 cm | 44 in</span></p>
					</td>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Hem width </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">102 cm | 40 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">106 cm | 42 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">110 cm | 43 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">114 cm | 45 in</span></p>
				</tr>
				<tr>
					<td valign="top">
						<p><span size="2" color="#000000">Body length </span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">64 cm | 25 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">65 cm | 25.5 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">66 cm | 26 in</span></p>
					</td>
					<td valign="top">
						<p><span size="2" color="#000000">67 cm | 26 in</span></p>
					</td>
				</tr>
			</tbody>
		</table>

		<h2>Pants</h2>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<p><span></span></p>
				</td>
				<td>
					<p><span>XS（46)</span></p>
				</td>
				<td>
					<p><span>S（48)</span></p>
				</td>
				<td>
					<p><span>M（50)（O)</span></p>
				</td>
				<td>
					<p><span>L（52)</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Waist</span></p>
				</td>
				<td>
					<p><span>71 cm | 28 in</span></p>
				</td>
				<td>
					<p><span>75 cm | 29 in</span></p>
				</td>
				<td>
					<p><span>79 cm | 31 in</span></p>
				</td>
				<td>
					<p><span>83 cm | 33 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Hip</span></p>
				</td>
				<td>
					<p><span>103.5 cm | 41 in</span></p>
				</td>
				<td>
					<p><span>107.5 cm | 42 in</span></p>
				</td>
				<td>
					<p><span>111.5 cm | 44 in</span></p>
				</td>
				<td>
					<p><span>115.5 cm | 45 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Hem Width</span></p>
				</td>
				<td>
					<p><span>64.5 cm | 25 in</span></p>
				</td>
				<td>
					<p><span>64.5 cm | 25 in</span></p>
				</td>
				<td>
					<p><span>66.5 cm | 26 in</span></p>
				</td>
				<td>
					<p><span>68.5 cm | 27 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Length</span></p>
				</td>
				<td>
					<p><span>105 cm | 41 in</span></p>
				</td>
				<td>
					<p><span>106.5 cm | 42 in</span></p>
				</td>
				<td>
					<p><span>108 cm | 42.5 in</span></p>
				</td>
				<td>
					<p><span>109.5 cm | 43 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Front Rise</span></p>
				</td>
				<td>
					<p><span>32.8 cm | 12.9 in</span></p>
				</td>
				<td>
					<p><span>33.4 cm | 13 in</span></p>
				</td>
				<td>
					<p><span>34 cm | 13.4</span></p>
				</td>
				<td>
					<p><span>34.6 cm | 13.6</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Back Rise</span></p>
				</td>
				<td>
					<p><span>42.3 cm | 16.6 in</span></p>
				</td>
				<td>
					<p><span>42.9 cm | 16.9 in</span></p>
				</td>
				<td>
					<p><span>43.6 cm | 17 in</span></p>
				</td>
				<td>
					<p><span>44.1 cm | 17.4 in</span></p>
				</td>
			</tr>
		</table>

		<h2>Robes</h2>
		<table cellspacing="0" cellpadding="0">
			<td></td>
			<td><p><span>All sizes</span></p></td>
			<tr>
				<td>
					<p><span>Chest width</span></p>
				</td>
				<td>
					<p><span>108 cm | 42 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Shoulder width</span></p>
				</td>
				<td>
					<p><span>38 cm | 14 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Waist</span></p>
				</td>
				<td>
					<p><span>104 cm | 40 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Hip width</span></p>
				</td>
				<td>
					<p><span>113 cm | 44 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Front body length</span></p>
				</td>
				<td>
					<p><span>130 cm | 51 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Sleeve length</span></p>
				</td>
				<td>
					<p><span>61 cm | 24 in</span></p>
				</td>
			</tr>
		</table>

		<h2>Dress</h2>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<p><span></span></p>
				</td>
				<td>
					<p><span>XS（46)</span></p>
				</td>
				<td>
					<p><span>S（48)</span></p>
				</td>
				<td>
					<p><span>M（50）（O)</span></p>
				</td>
				<td>
					<p><span>L（52)</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Chest width</span></p>
				</td>
				<td>
					<p><span>77 cm | 30 in</span></p>
				</td>
				<td>
					<p><span>81 cm | 31 in</span></p>
				</td>
				<td>
					<p><span>85 cm | 33 in</span></p>
				</td>
				<td>
					<p><span>89 cm | 35 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Hem width</span></p>
				</td>
				<td>
					<p><span>108 cm | 42.5 in</span></p>
				</td>
				<td>
					<p><span>112 cm | 44 in</span></p>
				</td>
				<td>
					<p><span>116 cm | 45.6 in</span></p>
				</td>
				<td>
					<p><span>120 cm | 47 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Body length</span></p>
				</td>
				<td>
					<p><span>104 cm | 41 in</span></p>
				</td>
				<td>
					<p><span>105 cm | 41.3 in</span></p>
				</td>
				<td>
					<p><span>106 cm | 41.7 in</span></p>
				</td>
				<td>
					<p><span>107 cm | 42 in</span></p>
				</td>
			</tr>
		</table>

		<h2>Puffer</h2>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<p><span></span></p>
				</td>
				<td>
					<p><span>48</span></p>
				</td>
				<td>
					<p><span>50</span></p>
				</td>
				<td>
					<p><span>52</span></p>
				</td>
				<td>
					<p><span>54</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Back length</span></p>
				</td>
				<td>
					<p><span>71 cm | 28 in</span></p>
				</td>
				<td>
					<p><span>72 cm | 28.3 in</span></p>
				</td>
				<td>
					<p><span>73 cm | 28.7 in</span></p>
				</td>
				<td>
					<p><span>74 cm | 29 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Shoulder</span></p>
				</td>
				<td>
					<p><span>41 cm | 16 in</span></p>
				</td>
				<td>
					<p><span>42 cm | 16.5 in</span></p>
				</td>
				<td>
					<p><span>43 cm | 17 in</span></p>
				</td>
				<td>
					<p><span>44 cm | 17.3 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Chest</span></p>
				</td>
				<td>
					<p><span>107 cm | 42 in</span></p>
				</td>
				<td>
					<p><span>111 cm | 43.7 in</span></p>
				</td>
				<td>
					<p><span>115 cm | 45 in</span></p>
				</td>
				<td>
					<p><span>119 cm | 46.8 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Waist</span></p>
				</td>
				<td>
					<p><span>104 cm | 41 in</span></p>
				</td>
				<td>
					<p><span>108 cm | 42.5 in</span></p>
				</td>
				<td>
					<p><span>112 cm | 44 in</span></p>
				</td>
				<td>
					<p><span>116 cm | 45.6 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Hem</span></p>
				</td>
				<td>
					<p><span>111 cm | 43.7 in</span></p>
				</td>
				<td>
					<p><span>115 cm | 45 in</span></p>
				</td>
				<td>
					<p><span>119 cm | 46.8 in</span></p>
				</td>
				<td>
					<p><span>123 cm | 48.4 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Sleeve length</span></p>
				</td>
				<td>
					<p><span>62 cm | 24.4 in</span></p>
				</td>
				<td>
					<p><span>63 cm | 24.8 in</span></p>
				</td>
				<td>
					<p><span>64 cm | 25 in</span></p>
				</td>
				<td>
					<p><span>65 cm | 25.5 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Bicep</span></p>
				</td>
				<td>
					<p><span>42 cm | 16.5</span></p>
				</td>
				<td>
					<p><span>43 cm | 17 in</span></p>
				</td>
				<td>
					<p><span>44 cm | 17.3 in</span></p>
				</td>
				<td>
					<p><span>45 cm | 17.7 in</span></p>
				</td>
			</tr>
			<tr>
				<td>
					<p><span>Sleeve opening</span></p>
				</td>
				<td>
					<p><span>32 cm | 12.5 in</span></p>
				</td>
				<td>
					<p><span>33 cm | 13 in</span></p>
				</td>
				<td>
					<p><span>34 cm | 13.4 in</span></p>
				</td>
				<td>
					<p><span>35 cm | 13.7 in</span></p>
				</td>
			</tr>
		</table>
	</div>
</div>