body
	&.template-blog
		.wrapper
			max-width none
			padding 0
		
		.section-header
			// silence is golden
						
		.yali_blog
			width 100%
			
			&__thumbnail
				float left
				width calc(100%/3)
			
			.clear
				clear both

@media all and (max-width:768px)
	body
		&.template-blog
			.section-header
				// silence is golden
			
			.yali_blog				
				&__thumbnail
					width 50%