body.template-blog .wrapper {
  max-width: none;
  padding: 0;
}
body.template-blog .yali_blog {
  width: 100%;
}
body.template-blog .yali_blog__thumbnail {
  float: left;
  width: calc(100% / 3);
}
body.template-blog .yali_blog .clear {
  clear: both;
}
@media all and (max-width: 768px) {
  body.template-blog .yali_blog__thumbnail {
    width: 50%;
  }
}
