.yali_featured-collection {
  height: 75vh;
}
.yali_featured-collection__banner {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}
.yali_featured-collection__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yali_featured-collection__title h1,
.yali_featured-collection__title h2 {
  color: $white;
}
