body
	font-size 62.5%
	background $white
	
	/* find a better place for this */
	.rte h1::after, .rte .h1::after, .rte h2::after, .rte .h2::after
		display none !important
	
	.BOLD-mc-picker-mnt[data-picker-location="bottom-middle"]
		top 25px !important
		right 25px !important
		left auto !important
		-webkit-transform none !important
		-moz-transform none !important
		-o-transform none !important
		transform none !important
		transition .2s top ease-in-out !important
		height 40px !important
		
	// reduce height to 15px on minimize
	
	.BOLD-mc-picker > .currentCurrency
		width 50px !important
		padding 0 !important
		border none !important
		-webkit-box-shadow none !important
		box-shadow none !important
		interactiveCopy(700, $black, 10pt)
	
	.BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList
		bottom initial !important
		top 55px !important
		background 0 !important
		border 0 !important
		height auto !important
		line-height initial !important
		max-height none !important
		transition .2s top ease-in-out !important
	
	.BOLD-mc-picker > .currentCurrency > .flag, .BOLD-mc-picker > .currencyList > .option > .flag
		display none !important
		
	.BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currentCurrency > .chevron > svg
		-webkit-transform rotate(180deg) !important
		-moz-transform rotate(180deg) !important
		-o-transform rotate(180deg) !important
		transform rotate(180deg) !important
		
	body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg
		-webkit-transform rotate(0) !important
		-moz-transform rotate(0) !important
		-o-transform rotate(0) !important
		transform rotate(0) !important
		
	.BOLD-mc-picker > .currencyList > .option
		display block !important
		margin 10px 0
		padding 5px 10px
		background rgba(255,255,255,.98)
		-webkit-box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
		box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
		line-height initial !important
		height auto !important
		width auto !important
		interactiveCopy(700, $black, 10pt)
		
	h1
		headerFont(400,2.4rem)
	
	h2
		headerFont(400,1.6rem)
	
	p
		copyFont(400)
	
	&.template-index
		padding-top 80px
	
	#CartDrawer
		z-index 100000 !important
	
	.yali_header
		display flex
		z-index 100
		position fixed
		top 0
		left 0
		width 100%
		height 80px
		padding 5px 10px
		box-sizing border-box
		background #fff
		white-space nowrap
		transition .2s all ease-in-out
		
		&.desktop
			.yali_header__element
				&--nav
					ul
						li
							&.dropdown
								&:hover ul
									display block !important						
		
		&.mobile
			display none
			overflow hidden
			padding 10px 0 10px 10px !important
			
			.yali_header__element
				&--logo
					width 100px
					flex auto !important
					margin-right auto
					text-align left !important
					
					img
						width auto
						height 100%
				
				&--menus
					display flex
					flex auto !important
					margin-left auto
					white-space nowrap
					overflow-x scroll
					overflow-y hidden

				&--nav
					flex auto
					margin-right 20px
					
					&>ul
						position relative !important
						text-align left !important
		
		&.minimized
			height 60px
			padding 10px
			background rgba(255,255,255,.98)
			-webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
			box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
			
			.yali_header__element--nav ul li.dropdown ul
				padding-top 42px !important
		
		&__element						
			&--nav
				flex auto
				position relative
				height 100%
				
				ul
					position absolute
					top 50%
					-webkit-transform translateY(-50%)
					-moz-transform translateY(-50%)
					-o-transform translateY(-50%)
					transform translateY(-50%)
					list-style none
					padding 0
					margin 0
					
					li
						display inline-block
						margin 0 10px
						
						&.dropdown
							position relative
							
							ul
								display none
								top 0 !important
								left 0 !important
								-webkit-transform none
								-moz-transform none
								-o-transform none
								transform none
								border-radius 2px
								padding-top 51px !important
								
								li
									display block !important
									margin 10px 0
									padding 5px 10px
									background rgba(255,255,255,.98)
									-webkit-box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
									box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12)
						
						a
							interactiveCopy(700, $black, 10pt)
							
							&:hover
								color $red
						
				&:first-of-type
					text-align left
					
					ul
						left 10px
				
				&:last-of-type
					text-align right
					
					ul
						right 75px
			
			&--logo
				flex auto
				text-align center
				transition .2s all ease-in-out
				
				img
					width auto
					height 100%
	
	.cart-link__bubble--visible
		background-color $red !important
		
	.yali_footer
		padding $verticalMarginsShort
		background #fff
		border-bottom 20px solid $red
		
		&__newsletter
			background none !important
			width 90%
			max-width 500px
			margin 0 auto $verticalMarginsShort
			
			.section-header
				margin-bottom 0
				
				h2
					headerFont(400,1.6rem)
			
			.section-subheading
				width 100%
				max-width 400px
				margin auto
			
			hr.hr--small
				display none
			
			form
				border-bottom 1px solid $black
				
				input
					background none !important
					border 0 !important
					
					&#Email
						copyFont(400)
						font-style normal
						
						&:focus
							outline none
				
				button
					&#Subscribe
						background none !important
						interactiveCopy(700, $red, 10pt)
		
		&__menu,
		&__social
			list-style none
			text-align center
			margin 0 auto 20px
			
			li
				display inline-block
				margin 0 10px
				
				a
					interactiveCopy(700, $black, 10pt)
				
				i
					font-size 1.2rem
		
		&__copyright
			copyFont(400)
			margin 50px auto 0
			text-align center

@media all and (max-width:768px)
	body
		padding-top 60px !important
	
	body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"]
		bottom 0 !important
		right 0 !important
		left auto !important
		top initial !important
		height initial !important
	
	body .BOLD-mc-picker > .currentCurrency
		width 60px !important
		-webkit-box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important
		box-shadow 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important
	
		span.name
			padding-left 10px !important
	
	body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList
		bottom 35px !important
		top initial !important
	
	.BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg
		-webkit-transform rotate(0) !important
		-moz-transform rotate(0) !important
		-o-transform rotate(0) !important
		transform rotate(0) !important
			
	.yali_header
		&.desktop
			display none
		
		&.mobile
			display flex !important
			
			.yali_header__element--nav:last-of-type ul
				right 0 !important
			
			.yali_header__element
				&--nav
						li
							&.dropdown
								position relative
								
								ul.expanded
									position relative !important
									top 0 !important
									left 0 !important
									display inline-block !important
									padding 0 !important
									
									&:before
										content ':'
										font-size 1rem
									
									li
										display inline-block !important
										margin 0 5px
										
										a
											font-size 0.75rem
										
	.yali_footer
		padding $verticalMarginsShort 0 !important
		
		&__copyright
			width 78%