body {
  font-size: 62.5%;
  background: $white;
/* find a better place for this */
}
body .rte h1::after,
body .rte .h1::after,
body .rte h2::after,
body .rte .h2::after {
  display: none !important;
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] {
  top: 25px !important;
  right: 25px !important;
  left: auto !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  transition: 0.2s top ease-in-out !important;
  height: 40px !important;
}
body .BOLD-mc-picker > .currentCurrency {
  width: 50px !important;
  padding: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList {
  bottom: initial !important;
  top: 55px !important;
  background: 0 !important;
  border: 0 !important;
  height: auto !important;
  line-height: initial !important;
  max-height: none !important;
  transition: 0.2s top ease-in-out !important;
}
body .BOLD-mc-picker > .currentCurrency > .flag,
body .BOLD-mc-picker > .currencyList > .option > .flag {
  display: none !important;
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currentCurrency > .chevron > svg {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
body body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg {
  -webkit-transform: rotate(0) !important;
  -moz-transform: rotate(0) !important;
  -o-transform: rotate(0) !important;
  transform: rotate(0) !important;
}
body .BOLD-mc-picker > .currencyList > .option {
  display: block !important;
  margin: 10px 0;
  padding: 5px 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  line-height: initial !important;
  height: auto !important;
  width: auto !important;
}
body.template-index {
  padding-top: 80px;
}
body #CartDrawer {
  z-index: 100000 !important;
}
body .yali_header {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #fff;
  white-space: nowrap;
  transition: 0.2s all ease-in-out;
}
body .yali_header.desktop .yali_header__element--nav ul li.dropdown:hover ul {
  display: block !important;
}
body .yali_header.mobile {
  display: none;
  overflow: hidden;
  padding: 10px 0 10px 10px !important;
}
body .yali_header.mobile .yali_header__element--logo {
  width: 100px;
  flex: auto !important;
  margin-right: auto;
  text-align: left !important;
}
body .yali_header.mobile .yali_header__element--logo img {
  width: auto;
  height: 100%;
}
body .yali_header.mobile .yali_header__element--menus {
  display: flex;
  flex: auto !important;
  margin-left: auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
body .yali_header.mobile .yali_header__element--nav {
  flex: auto;
  margin-right: 20px;
}
body .yali_header.mobile .yali_header__element--nav>ul {
  position: relative !important;
  text-align: left !important;
}
body .yali_header.minimized {
  height: 60px;
  padding: 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
body .yali_header.minimized .yali_header__element--nav ul li.dropdown ul {
  padding-top: 42px !important;
}
body .yali_header__element--nav {
  flex: auto;
  position: relative;
  height: 100%;
}
body .yali_header__element--nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}
body .yali_header__element--nav ul li {
  display: inline-block;
  margin: 0 10px;
}
body .yali_header__element--nav ul li.dropdown {
  position: relative;
}
body .yali_header__element--nav ul li.dropdown ul {
  display: none;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  border-radius: 2px;
  padding-top: 51px !important;
}
body .yali_header__element--nav ul li.dropdown ul li {
  display: block !important;
  margin: 10px 0;
  padding: 5px 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
body .yali_header__element--nav ul li a:hover {
  color: $red;
}
body .yali_header__element--nav:first-of-type {
  text-align: left;
}
body .yali_header__element--nav:first-of-type ul {
  left: 10px;
}
body .yali_header__element--nav:last-of-type {
  text-align: right;
}
body .yali_header__element--nav:last-of-type ul {
  right: 75px;
}
body .yali_header__element--logo {
  flex: auto;
  text-align: center;
  transition: 0.2s all ease-in-out;
}
body .yali_header__element--logo img {
  width: auto;
  height: 100%;
}
body .cart-link__bubble--visible {
  background-color: $red !important;
}
body .yali_footer {
  padding: $verticalMarginsShort;
  background: #fff;
  border-bottom: 20px solid $red;
}
body .yali_footer__newsletter {
  background: none !important;
  width: 90%;
  max-width: 500px;
  margin: 0 auto $verticalMarginsShort;
}
body .yali_footer__newsletter .section-header {
  margin-bottom: 0;
}
body .yali_footer__newsletter .section-subheading {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
body .yali_footer__newsletter hr.hr--small {
  display: none;
}
body .yali_footer__newsletter form {
  border-bottom: 1px solid $black;
}
body .yali_footer__newsletter form input {
  background: none !important;
  border: 0 !important;
}
body .yali_footer__newsletter form input#Email {
  font-style: normal;
}
body .yali_footer__newsletter form input#Email:focus {
  outline: none;
}
body .yali_footer__newsletter form button#Subscribe {
  background: none !important;
}
body .yali_footer__menu,
body .yali_footer__social {
  list-style: none;
  text-align: center;
  margin: 0 auto 20px;
}
body .yali_footer__menu li,
body .yali_footer__social li {
  display: inline-block;
  margin: 0 10px;
}
body .yali_footer__menu li i,
body .yali_footer__social li i {
  font-size: 1.2rem;
}
body .yali_footer__copyright {
  margin: 50px auto 0;
  text-align: center;
}
@media all and (max-width: 768px) {
  body {
    padding-top: 60px !important;
  }
  body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] {
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
    top: initial !important;
    height: initial !important;
  }
  body .BOLD-mc-picker > .currentCurrency {
    width: 60px !important;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
  }
  body .BOLD-mc-picker > .currentCurrency span.name {
    padding-left: 10px !important;
  }
  body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList {
    bottom: 35px !important;
    top: initial !important;
  }
  .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg {
    -webkit-transform: rotate(0) !important;
    -moz-transform: rotate(0) !important;
    -o-transform: rotate(0) !important;
    transform: rotate(0) !important;
  }
  .yali_header.desktop {
    display: none;
  }
  .yali_header.mobile {
    display: flex !important;
  }
  .yali_header.mobile .yali_header__element--nav:last-of-type ul {
    right: 0 !important;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown {
    position: relative;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded:before {
    content: ':';
    font-size: 1rem;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded li {
    display: inline-block !important;
    margin: 0 5px;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded li a {
    font-size: 0.75rem;
  }
  .yali_footer {
    padding: $verticalMarginsShort 0 !important;
  }
  .yali_footer__copyright {
    width: 78%;
  }
}
