.yali_banner
	&__wrapper
		position relative
		width 100%
		height 75vh
		overflow hidden
	
	&__video
		position absolute
		bottom 0
		left 50%
		-webkit-transform translateX(-50%)
		-moz-transform translateX(-50%)
		-o-transform translateX(-50%)
		transform translateX(-50%)
		min-width 100%
		min-height 100%
	
	&__video-controls
		position absolute
		bottom 0
		right 0
		padding 20px
		
		#yali_play,
		#yali_volume-on
			display none