/* attribute variables */
/* element styles variables */
body {
  font-size: 62.5%;
  background: #f1f0f5;
/* find a better place for this */
}
body.announcement {
  padding-top: 120px !important;
}
body.announcement #yali_mobile__trigger {
  top: 57px;
}
body #yali_mobile__trigger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  font-size: 12pt;
  color: #de0026;
  padding: 0;
  border: 0;
  background: none;
}
body #yali_mobile__trigger:focus {
  outline: none;
}
body .rte h1::after,
body .rte .h1::after,
body .rte h2::after,
body .rte .h2::after {
  display: none !important;
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] {
  top: 25px !important;
  right: 25px !important;
  left: auto !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
  transition: 0.2s top ease-in-out !important;
  height: 40px !important;
}
body .BOLD-mc-picker > .currentCurrency {
  width: 50px !important;
  padding: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList {
  bottom: initial !important;
  top: 55px !important;
  background: 0 !important;
  border: 0 !important;
  height: auto !important;
  line-height: initial !important;
  max-height: none !important;
  transition: 0.2s top ease-in-out !important;
}
body .BOLD-mc-picker > .currentCurrency > .flag,
body .BOLD-mc-picker > .currencyList > .option > .flag {
  display: none !important;
}
body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currentCurrency > .chevron > svg {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}
body body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg {
  -webkit-transform: rotate(0) !important;
  -moz-transform: rotate(0) !important;
  -o-transform: rotate(0) !important;
  transform: rotate(0) !important;
}
body .BOLD-mc-picker > .currencyList > .option {
  display: block !important;
  margin: 10px 0;
  padding: 5px 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  line-height: initial !important;
  height: auto !important;
  width: auto !important;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body h1 {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 2.4rem;
}
body h2 {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1.6rem;
}
body p {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
/* font weights - 400 and 700 */
}
body.template-index {
  padding-top: 80px;
}
body #CartDrawer {
  z-index: 100000 !important;
}
body .yali_header {
  display: flex;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #fff;
  white-space: nowrap;
  transition: 0.2s all ease-in-out;
}
body .yali_header.announcement {
  top: 40px !important;
}
body .yali_header.desktop .yali_header__element--nav ul li.dropdown:hover ul {
  display: block !important;
}
body .yali_header.mobile {
  display: none;
  z-index: 1000;
  overflow: visible;
  padding: 10px 0 10px 10px !important;
}
body .yali_header.mobile .yali_header__element--logo {
  width: 100px;
  flex: auto !important;
  margin-right: auto;
  text-align: left !important;
}
body .yali_header.mobile .yali_header__element--logo img {
  width: auto;
  height: 100%;
}
body .yali_header.mobile .yali_header__element--menus {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  padding: 20px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  transition: 0.2s right ease-in-out;
}
body .yali_header.mobile .yali_header__element--menus.slide-in {
  right: 0;
}
body .yali_header.mobile .yali_header__element--nav {
  margin-right: 20px;
}
body .yali_header.mobile .yali_header__element--nav>ul {
  position: relative !important;
  top: auto;
  left: auto;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  text-align: left !important;
}
body .yali_header.mobile .yali_header__element--nav>ul li {
  display: block;
  margin: 10px;
}
body .yali_header.mobile .yali_header__element--nav>ul li.dropdown ul {
  position: relative;
  padding: 0 !important;
  display: block;
}
body .yali_header.mobile .yali_header__element--nav>ul li.dropdown ul li {
  margin: 10px 0 10px 10px;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}
body .yali_header.minimized {
  height: 60px;
  padding: 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
body .yali_header.minimized .yali_header__element--nav ul li.dropdown ul {
  padding-top: 42px;
}
body .yali_header__element--nav {
  flex: auto;
  position: relative;
  height: 100%;
}
body .yali_header__element--nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
}
body .yali_header__element--nav ul li {
  display: inline-block;
  margin: 0 10px;
}
body .yali_header__element--nav ul li.dropdown {
  position: relative;
}
body .yali_header__element--nav ul li.dropdown ul {
  display: none;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
  border-radius: 2px;
  padding-top: 51px;
}
body .yali_header__element--nav ul li.dropdown ul li {
  display: block !important;
  margin: 10px 0;
  padding: 5px 10px;
  background: rgba(255,255,255,0.98);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
}
body .yali_header__element--nav ul li a {
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body .yali_header__element--nav ul li a:hover {
  color: #de0026;
}
body .yali_header__element--nav:first-of-type {
  text-align: left;
}
body .yali_header__element--nav:first-of-type ul {
  left: 10px;
}
body .yali_header__element--nav:last-of-type {
  text-align: right;
}
body .yali_header__element--nav:last-of-type ul {
  right: 75px;
}
body .yali_header__element--logo {
  flex: auto;
  text-align: center;
  transition: 0.2s all ease-in-out;
}
body .yali_header__element--logo img {
  width: auto;
  height: 100%;
}
body .cart-link__bubble--visible {
  background-color: #de0026 !important;
}
body .yali_footer {
  padding: 94px;
  background: #fff;
  border-bottom: 20px solid #de0026;
}
body .yali_footer__newsletter {
  background: none !important;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 94px;
}
body .yali_footer__newsletter .section-header {
  margin-bottom: 0;
}
body .yali_footer__newsletter .section-header h2 {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1.6rem;
}
body .yali_footer__newsletter .section-subheading {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
body .yali_footer__newsletter hr.hr--small {
  display: none;
}
body .yali_footer__newsletter form {
  border-bottom: 1px solid #000;
}
body .yali_footer__newsletter form input {
  background: none !important;
  border: 0 !important;
}
body .yali_footer__newsletter form input#Email {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
/* font weights - 400 and 700 */
  font-style: normal;
}
body .yali_footer__newsletter form input#Email:focus {
  outline: none;
}
body .yali_footer__newsletter form button#Subscribe {
  background: none !important;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #de0026;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body .yali_footer__menu,
body .yali_footer__social {
  list-style: none;
  text-align: center;
  margin: 0 auto 20px;
}
body .yali_footer__menu li,
body .yali_footer__social li {
  display: inline-block;
  margin: 0 10px;
}
body .yali_footer__menu li a,
body .yali_footer__social li a {
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body .yali_footer__menu li i,
body .yali_footer__social li i {
  font-size: 1.2rem;
}
body .yali_footer__copyright {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
/* font weights - 400 and 700 */
  margin: 50px auto 0;
  text-align: center;
}
@media all and (max-width: 768px) {
  body {
    padding-top: 60px !important;
  }
  body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] {
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
    top: initial !important;
    height: initial !important;
  }
  body .BOLD-mc-picker > .currentCurrency {
    width: 60px !important;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12) !important;
  }
  body .BOLD-mc-picker > .currentCurrency span.name {
    padding-left: 10px !important;
  }
  body .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker > .currencyList {
    bottom: 35px !important;
    top: initial !important;
  }
  .BOLD-mc-picker-mnt[data-picker-location="bottom-middle"] > .BOLD-mc-picker.open > .currentCurrency > .chevron > svg {
    -webkit-transform: rotate(0) !important;
    -moz-transform: rotate(0) !important;
    -o-transform: rotate(0) !important;
    transform: rotate(0) !important;
  }
  #yali_mobile__trigger {
    display: block !important;
  }
  .yali_header.desktop {
    display: none;
  }
  .yali_header.mobile {
    display: flex !important;
  }
  .yali_header.mobile .yali_header__element--nav:last-of-type ul {
    right: 0 !important;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown {
    position: relative;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded:before {
    content: ':';
    font-size: 1rem;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded li {
    display: inline-block !important;
    margin: 0 5px;
  }
  .yali_header.mobile .yali_header__element--nav li.dropdown ul.expanded li a {
    font-size: 0.75rem;
  }
  .yali_footer {
    padding: 94px 0 !important;
  }
  .yali_footer__copyright {
    width: 78%;
  }
}
.yali_announcement {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: none;
}
.yali_announcement__relativewrap {
  position: relative;
}
.yali_announcement__relativewrap #yali_announcement__close {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  top: 50%;
  left: 99%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #f1f0f5;
  font-size: 12pt;
}
.yali_announcement__relativewrap #yali_announcement__close:focus {
  outline: none;
}
.yali_announcement__link {
  display: block;
  width: 100%;
  text-align: center;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f1f0f5;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
.yali_announcement__link:hover {
  color: #f1f0f5;
}
@media all and (max-width: 768px) {
  .yali_announcement__relativewrap #yali_announcement__close {
    left: 90% !important;
    font-size: 20pt;
    width: 12.75%;
    z-index: 10000000;
  }
}
.yali_banner__wrapper {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
.yali_banner__wrapper#mobile {
  display: none;
}
.yali_banner__video {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
}
.yali_banner__video-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}
.yali_banner__video-controls #yali_play,
.yali_banner__video-controls #yali_volume-on {
  display: none;
}
.yali_banner__video-controls button:focus {
  outline: none !important;
}
@media all and (max-width: 768px) {
  .yali_banner__wrapper#desktop {
    display: none !important;
  }
  .yali_banner__wrapper#mobile {
    display: block !important;
  }
}
.yali_featured-products__shop-all {
  display: block;
  margin: 94px auto;
  width: 90%;
  max-width: 300px;
  padding: 10px 0;
  border: 1px solid #de0026;
  border-radius: 2px;
  text-align: center;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #de0026;
  font-size: 14pt;
/* font weights - 500 and 700 */
}
.yali_featured-products__shop-all:hover {
  color: #f1f0f5;
  background: #de0026;
}
.yali_featured-products__carousel {
  position: relative;
  padding-left: 0;
  white-space: nowrap;
}
.yali_featured-products__carousel ul {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.yali_featured-products__carousel ul li {
  margin-bottom: 0;
}
.yali_featured-products__carousel button {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  transition: opacity 0.2s ease-in-out;
}
.yali_featured-products__carousel button#yali_featured-products__scroll--right {
  width: 40px;
  height: 40px;
  right: 30px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
}
.yali_featured-products__carousel button#yali_featured-products__scroll--left {
  width: 40px;
  height: 40px;
  left: 30px;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
}
.yali_featured-products__carousel button.hidden {
  opacity: 0;
}
.yali_featured-products__carousel button:focus {
  outline: none;
}
.yali_featured-products__product {
  list-style: none;
  display: inline-block;
  width: 25%;
}
.yali_featured-products__product .yali_height-padding {
  padding-bottom: 166%;
}
@media all and (max-width: 768px) {
  .yali_featured-products__carousel {
    overflow-x: scroll;
  }
  .yali_featured-products__carousel ul {
    overflow-x: scroll !important;
  }
  .yali_featured-products__product {
    width: 66%;
  }
}
.yali_executive-summary {
  margin: 94px auto;
  width: 90%;
  max-width: 600px;
}
.yali_executive-summary h1 {
  width: 0;
}
.yali_featured-collection {
  height: 75vh;
}
.yali_featured-collection__banner {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}
.yali_featured-collection__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.yali_featured-collection__title h1 {
  color: #f1f0f5;
  margin-bottom: 0;
}
.yali_featured-collection__title h2 {
  color: #f1f0f5;
  font-style: italic;
}
.yali_mission-statement__copy {
  margin: 94px auto 0;
  width: 90%;
  max-width: 600px;
}
.yali_mission-statement__image {
  display: block;
  margin: 94px auto;
  width: 90%;
  max-width: 300px;
  border-radius: 100%;
}
.yali_mission-statement__image .yali_height-padding {
  padding-bottom: 100%;
}
body.template-collection .wrapper {
  max-width: none;
  width: 100%;
  padding: 60px 0 0;
}
body.template-collection .wrapper .grid-uniform {
  margin-left: 0;
}
body.template-collection .wrapper .grid-uniform .grid__item {
  width: calc(100% / 3);
  padding: 0;
  border: 1px solid #f1f0f5;
  position: relative;
}
body.template-collection .wrapper .grid-uniform .grid__item:hover .yali_collection__product--primary {
  display: none;
}
body.template-collection .wrapper .grid-uniform .grid__item:hover .yali_collection__product--rollover {
  display: block;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--primary,
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--rollover {
  width: 100%;
  padding-bottom: 133%;
  background: #fff;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--rollover {
  display: none;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
  background: rgba(255,255,255,0.65);
  padding: 10px 20px;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--meta--title {
  float: left;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--meta--price {
  float: right;
}
body.template-collection .wrapper .grid-uniform .grid__item .yali_collection__product--meta .clear {
  clear: both;
}
body.template-collection .wrapper .pagination {
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body.template-collection .wrapper .pagination .current {
  color: #de0026;
}
@media all and (max-width: 768px) {
  body.template-collection .wrapper {
    padding: 10px 0 0;
  }
  body.template-collection .wrapper .grid-uniform .grid__item {
    width: 100%;
  }
}
body.template-product .yali_photo {
  float: left;
  width: 80%;
}
body.template-product .yali_thumbnails {
  float: left;
  width: 20%;
}
body.template-product .yali_thumbnails img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-right: 2px solid #f1f0f5;
  margin-bottom: -2px;
  transition: 0.2s opacity ease-in-out;
}
body.template-product .yali_thumbnails img:hover {
  cursor: pointer;
  opacity: 0.9;
}
body.template-product .clear {
  clear: both;
}
body.template-product .product-single__meta .single-option-radio {
  padding: 0;
  background: none;
}
body.template-product .product-single__meta .single-option-radio label {
  background: none;
  border: 0;
}
body.template-product .product-single__meta .single-option-radio label.disabled:hover {
  cursor: auto;
}
body.template-product .product-single__meta .single-option-radio input[type='radio']:checked+label {
  border: 1px solid #000;
}
body.template-product .product-single__meta .product-single__description {
  margin: 30px 0 50px;
}
body.template-product .product-single__meta .product-single__description p,
body.template-product .product-single__meta .product-single__description ul li {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
/* font weights - 400 and 700 */
}
body.template-product .product-single__meta .product-single__description p:last-of-type {
  text-align: center;
}
body.template-product .product-single__meta form[action="/cart/add"] .product-single__add-to-cart button {
  background: #de0026;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f1f0f5;
  font-size: 10pt;
/* font weights - 500 and 700 */
  border: 0;
}
body.template-product .product-single__meta .social-sharing a {
  background: #de0026;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f1f0f5;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body.template-product .return-link {
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
body.template-product #shopify-section-related-products hr {
  margin: 94px auto 50px;
}
body.template-product #shopify-section-related-products .grid {
  margin-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid-uniform {
  margin-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid__item {
  padding-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid__item .section-header {
  text-align: center;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product {
  width: calc(100% / 3);
  padding: 0;
  border: 1px solid #f1f0f5;
  position: relative;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product:hover .yali_collection__product--primary {
  display: none;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product:hover .yali_collection__product--rollover {
  display: block;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--primary,
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--rollover {
  width: 100%;
  padding-bottom: 133%;
  background: #fff;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--rollover {
  display: none;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 10pt;
/* font weights - 500 and 700 */
  text-shadow: 0 0 3px rgba(0,0,0,0.259);
  padding: 10px 20px;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta--title {
  float: left;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta--price {
  float: right;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta .clear {
  clear: both;
}
body.template-product .product-single__sizes--background {
  display: none;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.3);
}
body.template-product .product-single__sizes--background .yali_close-module {
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 1.5rem;
}
body.template-product .product-single__sizes--background .yali_close-module:focus {
  outline: none;
}
body.template-product .product-single__sizes--wrapper {
  z-index: 10000;
  position: fixed;
  width: 90%;
  max-width: 1080px;
  height: 80vh;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 2px;
  padding: 10px;
  background: #f1f0f5;
}
body.template-product .product-single__sizes--wrapper h2 {
  text-align: center;
  margin: 47px auto 23.5px;
}
body.template-product .product-single__sizes--wrapper h2:first-of-type {
  text-transform: uppercase;
  margin-top: 23.5px !important;
}
body.template-product .product-single__sizes--wrapper table {
  background: #f1f0f5;
}
body.template-product .product-single__sizes--wrapper table tr td {
  text-align: center;
}
body.template-product .product-single__sizes--wrapper table tr td:after {
  content: none !important;
}
@media all and (max-width: 768px) {
  body.template-product .yali_photo {
    display: none;
  }
  body.template-product .yali_thumbnails {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  body.template-product .yali_thumbnails img {
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }
  body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product {
    width: 100%;
  }
}
body.template-blog .wrapper {
  max-width: none;
  padding: 0;
}
body.template-blog .yali_blog {
  width: 100%;
}
body.template-blog .yali_blog__thumbnail {
  float: left;
  width: calc(100% / 3);
}
body.template-blog .yali_blog .clear {
  clear: both;
}
@media all and (max-width: 768px) {
  body.template-blog .yali_blog__thumbnail {
    width: 50%;
  }
}
body.template-article .main-content {
  padding-bottom: 0;
}
body.template-article .section-header {
  max-width: 550px;
  margin: auto;
  padding-top: 47px;
}
body.template-article .section-header p {
  margin-bottom: 0;
}
body.template-article .section-header p .date {
  margin-bottom: 0;
}
body.template-article .yali_article__content {
  width: 98%;
  max-width: 600px;
  margin: 0 auto;
}
body.template-article .yali_article__content div,
body.template-article .yali_article__content p,
body.template-article .yali_article__content em {
  font-family: garvis-pro, serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 30px 0;
}
body.template-article .yali_article__content img {
  max-width: 100% !important;
  height: auto;
  margin: auto !important;
}
body.template-article .social-sharing {
  text-align: center;
}
body.template-article .social-sharing a {
  background: #de0026;
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f1f0f5;
  font-size: 10pt;
}
@media all and (max-width: 768px) {
  body.template-article .section-header {
    padding-top: 0;
  }
}
.pagination {
  font-family: brother-1816, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 10pt;
/* font weights - 500 and 700 */
}
.pagination .current {
  color: #de0026 !important;
}
