.yali_mission-statement__copy {
  margin: $verticalMarginsTall auto 0;
  width: 90%;
  max-width: 600px;
}
.yali_mission-statement__image {
  display: block;
  margin: $verticalMarginsShort auto $verticalMarginsTall;
  width: 90%;
  max-width: 300px;
  border-radius: 100%;
}
.yali_mission-statement__image .yali_height-padding {
  padding-bottom: 100%;
}
