body.template-product .yali_photo {
  float: left;
  width: 80%;
}
body.template-product .yali_thumbnails {
  float: left;
  width: 20%;
}
body.template-product .yali_thumbnails img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-right: 2px solid $white;
  margin-bottom: -2px;
  transition: 0.2s opacity ease-in-out;
}
body.template-product .yali_thumbnails img:hover {
  cursor: pointer;
  opacity: 0.9;
}
body.template-product .clear {
  clear: both;
}
body.template-product .product-single__meta .single-option-radio {
  padding: 0;
  background: none;
}
body.template-product .product-single__meta .single-option-radio label {
  background: none;
  border: 0;
}
body.template-product .product-single__meta .single-option-radio label.disabled:hover {
  cursor: auto;
}
body.template-product .product-single__meta .single-option-radio input[type='radio']:checked+label {
  border: 1px solid $black;
}
body.template-product .product-single__meta .product-single__description {
  margin: 30px 0 50px;
}
body.template-product .product-single__meta .product-single__description p:last-of-type {
  text-align: center;
}
body.template-product .product-single__meta form[action="/cart/add"] .product-single__add-to-cart button {
  background: $red;
  border: 0;
}
body.template-product .product-single__meta .social-sharing a {
  background: $red;
}
body.template-product #shopify-section-related-products hr {
  margin: $verticalMarginsShort auto 50px;
}
body.template-product #shopify-section-related-products .grid {
  margin-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid-uniform {
  margin-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid__item {
  padding-left: 0;
}
body.template-product #shopify-section-related-products .grid .grid__item .section-header {
  text-align: center;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product {
  width: calc(100% / 3);
  padding: 0;
  border: 1px solid $white;
  position: relative;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product:hover .yali_collection__product--primary {
  display: none;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product:hover .yali_collection__product--rollover {
  display: block;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--primary,
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--rollover {
  width: 100%;
  padding-bottom: 133%;
  background: #fff;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--rollover {
  display: none;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 0 0 3px $blackLight;
  padding: 10px 20px;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta--title {
  float: left;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta--price {
  float: right;
}
body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product .yali_collection__product--meta .clear {
  clear: both;
}
@media all and (max-width: 768px) {
  body.template-product .yali_photo {
    display: none;
  }
  body.template-product .yali_thumbnails {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  body.template-product .yali_thumbnails img {
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }
  body.template-product #shopify-section-related-products .grid .grid__item .grid__item.grid-product {
    width: 100%;
  }
}
